{% extends "index.html" %}

{% import "macros.html" as macros %}

{% macro format_date_no_year(date) -%}
    {% set date_format = "%d %b" -%}
    {{ date | date(format=date_format) -}}
{% endmacro format_date_no_year %}

{% block htmltitle %}
  {% if section.title %}
    {{ section.title }} |
  {% endif %}
{% endblock htmltitle %}

{% block content %}
  {% set_global children = [] %}
  {% for page in section.pages %}
    {% if not page.date %}
      {% set_global children = children | concat(with=page) %}
    {% endif %}
  {% endfor %}
  {% for s in section.subsections %}
    {% set section = get_section(path=s) %}
    {% set_global children = children | concat(with=section) %}
  {% endfor %}

  {% if children %}
    {{ macros::breadcrumbs(ancestors=section.ancestors, title=section.title) }}
  {% endif %}

  {% if children or section.content %}
    <article>
      {% if section.content %}
        {{ section.content | safe }}
      {% endif %}

      {% if children %}
        <nav>
          <ul>
            {% for page in children | sort(attribute="title") %}
              <li><a href="{{ page.permalink }}">
                {{ page.title }}
              </a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </article>
  {% endif %}

  {% if section.pages | filter(attribute="year") %}
    <nav>
      {% for year, pages in section.pages | group_by(attribute="year") %}
        <h2 class="archive">{{ year }}</h2>
        <ul class="archive">
          {% for page in pages %}
            <li>
              <time datetime="{{page.date}}">{{self::format_date_no_year(date=page.date)}}</time>
              <a href="{{ page.permalink }}">
                {{ page.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>
  {% endif %}

{% endblock content %}
